@mixin flexCenter($background) { 
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 33%;
    height: 5vw;
    background: $background;
    
}


header {
    .boxhome{
        @include flexCenter(cyan);
    }

    .boxskins{
        @include flexCenter(rgb(39, 187, 236));
    }

    .boxabilities{
        @include flexCenter(rgb(145, 255, 255));
    }

}

.title {
    @include flexCenter(blue);
    float: none;
    width: 100%;
}

.splashart {
    display: flex;
    justify-content: center;
    background: black;
}